.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.closed {
	max-width: 100%;
	height: auto;
}

body {
  background-image: url("images/TSE_HouseClosed.png");
  background-color: #cccccc;
  background-size: cover;
}
